

li.info_bloco_notas-priority div{
   display: flex;
   justify-content: space-between;
}

li.info_bloco_notas-priority{
   background: #eb8f7a;
   box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 20px 20px 10px 20px;

}

li.info_bloco_notas-priority strong{
   display: block;
   font-size: 16px;
   color: #fff;
}

li.info_bloco_notas-priority div div{
   color: #fabbad;
   cursor: pointer;
}

li.info_bloco_notas-priority div div:hover{
   color: #fff;
   transition: 0.2s;
}

li.info_bloco_notas-priority textarea{
   padding: 7px;
   margin-top: 7px;
   margin-bottom: 25px;
   margin-right: 1px;
   width: 340px;
   height: 130px;
   font-size: 14px;
   color: #fff;
   border: 0;
   background: #eb8f7a;
   resize: none;
}

li.info_bloco_notas-priority textarea:hover{
   cursor: default;
}


li.info_bloco_notas-priority span{
   color: #fabbad;
   cursor: pointer;
}

li.info_bloco_notas-priority span:hover{
   color: #fff;
   transition: 0.2s;
   
}


